[submodule "fastCorner"]
	path = fastCorner
	url = https://github.com/wzygzlm/hls_fastCorner.git
[submodule "hls_fastCorner"]
	path = hls_fastCorner
	url = https://github.com/wzygzlm/hls_fastCorner.git
